{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div style="text-align:center;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div style="background-color: #f8d7da;color: #721c24;border: 1px solid #f5c6cb; padding: 10px 5px">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
   </div>


    <h1>Create Your Account</h1>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Register</button>
    </form>
{% endblock %}
