{% extends "base.html" %}

{% block title %}
    Poker Game
{% endblock %}

{% block links %}
<script type="importmap">
  {
    "imports": {
      "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
      "three/addons/": "https://cdn.jsdelivr.net/npm/three/examples/jsm/"
    }
  }
</script>
{% endblock %}

{% block content %}
    <h1>Play Poker</h1>
    <canvas id="pokerCanvas" width="800" height="600"></canvas>



    <script type="module">
    import {createScene}   from "{{ url_for('poker.static', filename='js/game.js') }}"
    window.onload = ()=>{
        window.scene = createScene;
        console.log(window.scene.start)
        window.scene.start();
    }
    </script>
    <script>
    if (screen.orientation && screen.orientation.lock) {
        screen.orientation.lock('portrait').catch(function(error){
            console.error('Orientation lock failed:', error);
        });
    } else {
        console.warn('Screen orientation lock is not supported on this device.');
    }
    </script>
{% endblock %}